#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  sonarqube-app.service
BindsTo=sonarqube.service
After=sonarqube.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/sonarqube-app.pid %t/sonarqube-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/sonarqube-app.pid \
    --cidfile %t/sonarqube-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/sonarqube.pod-id --replace -d --name  sonarqube-app \
    --volume sonarqube-app:/opt/sonarqube/data:Z \
    --volume sonarqube_extensions:/opt/sonarqube/extensions:Z \
    --volume sonarqube_logs:/opt/sonarqube/logs:Z \
    --volume sonarqube_config:/opt/sonarqube/conf:Z \
    --volume %S/state/sonar.properties:/opt/sonarqube/conf/sonar.properties:ro,Z \
    --env=SONAR_* \
    --env 'SONAR_JDBC_URL="jdbc:postgresql://127.0.0.1:5432/sonarqube"' \
    --env SONAR_JDBC_USERNAME=sonar \
    --env SONAR_JDBC_PASSWORD=sonar \
    ${SONARQUBE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/sonarqube-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP sonarqube-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/sonarqube-app.ctr-id
PIDFile=%t/sonarqube-app.pid
Type=forking
LimitNOFILE=131072
LimitNPROC=8192

[Install]
WantedBy=default.target
